body{
    width: 80%;
    margin: 0 auto;
}

header{
    display: block;
    border-bottom: 1px solid #666;
}

footer{
    display: block;
}

header nav li{
    display: inline-block;
    *display: inline;
    zoom: 1;
}

footer address{
    float: right;
    zoom: 1;
}

footer ul{
    border-top: 1px solid #666;
    clear: both;
}

footer ul li{
    display: inline-block;
    *display: inline;
    zoom: 1:
}


#copyright{
    text-align: center;
}
