<? require 'sub/htmlhead.tmpl' ?>
<? require 'sub/header.tmpl' ?>
<h2>Sample</h2>
<ul>
<li><a href="no_cntl">コントローラーの無いパターン</a></li>
<? throw new Exception('ge'); ?>
</ul>
<? require 'sub/footer.tmpl' ?>
<? require 'sub/footjs.tmpl' ?>
